.fwdd-icon-boxes{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1900px;
    zoom: 1; /*trigger hasLayout for IE 6 and 7*/
}
.fwdd-icon-boxes h2{
    margin-top: 10px;
}
.fwdd-icon-boxes .fwdd-icon{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.fwdd-icon-boxes .fwdd-icon-right{
    float:right;
    margin-left: 10px;
}
.fwdd-icon-boxes .fwdd-icon-left{
    float:left;
    margin-right: 10px;
}
.fwdd-icon-boxes .fwdd-icon-button{
    text-align: center;
    margin: 10px 0;
}
.fwdd-icon-box{
    position: relative;
    padding: 0 0.9375rem;
    margin: 30px 0;
    width: 100%;
}
.fwdd-icon-button .fwdd-cta-button{
    border-radius: 5px;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem;
    font-size: 1rem;
    color: #ffffff;
    transition: box-shadow .25s;
    background: #FF9800;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.fwdd-icon-button .fwdd-cta-button:hover{
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (min-width: 43.75em){
    .fwdd-icon-box-row{
        display: table;
        padding: 20px 0;
    }
    .fwdd-icon-box{
        display: table-cell;
        padding-bottom: 77px;
    }
    .fwdd-icon-button{
        position:absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .fwdd-2{
        width: 50%;
    }
    .fwdd-3{
        width: 33.333%
    }
    .fwdd-4{
        width: 25%;
    }
}